*{
  margin:0;
  padding:0;
  overflow: hidden;
  box-sizing: border-box;

}
 body,html {
  width:  100%;
  height: 100%;
  overflow-y:hidden;
  box-sizing: border-box;
  background-color: #D3D3D3;
}

section{
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

#gallery{
    position: fixed;
  width: 15em;
  height: calc(100vh - 50px);
  margin-left: 10px;
  margin-right: 2px;
  /* ширина нашего блока */
  background: #F8F8FF; /* цвет фона, белый */
  border: 1px solid #C1C1C1; /* размер и цвет границы блока */
  overflow-x: scroll; /* прокрутка по горизонтали */
  overflow-y: scroll; /* прокрутка по вертикали */

}
canvas{
  display:block;
  border: 1px solid black;
  width: calc(100vw - 20px);
  height: calc(100vh - 80px);
}

button{
  outline:0;
  border:0;
}

#paintingContainer {
  flex-grow: 3;
  width: auto;
  height: 100%;
  margin-right: 2px;
    margin-left: 16em;
}

#colors{
    width:100%;
    height:20px;

}

#colors button{
    width:20%;
    height:10px;
    margin-top:5px;
    float:left;
}
#black{
    background-color: black;
}
#yellow{
    background-color: yellow;
}
#pink{
    background-color: pink;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#colors button:hover{
    opacity: 0.5;
}

#otherTools{
    width:25%;
    float:left;

}

#otherTools button{
    width:20%;
    height:50px;

    background: #303030;
    color: white;
    cursor:pointer;
    float:left;
}

#otherTools input{
    width:20%;
    height:50px;

    background: #303030;
    color: white;
    cursor:pointer;
    float:left;
}
#otherTools button:hover{
    opacity: 0.5;
}
#otherTools1{
    width:75%;
    float:right;

}
#otherTools1 button{
    width:33.33%;
 height: 50px;
    background: #303030;
    color: white;
    cursor:pointer;
    float:left;
}
#otherTools1 button:hover{
    opacity: 0.5;
}
#savefunctions button{
    width: 25%;
}
div#pagetop {
    position:fixed;
    background: #333;
    width:100%;
    border-bottom:#000 1px solid;
}


div#thumbnailbox {
    float:left;
    width:150px;
    background:#F8F8FF;
}

div#thumbnailbox > div {
    width:150px;
    height:80px;
    overflow:hidden;
    cursor:pointer;
}

div#thumbnailbox > div > img {
    width:100px;
}
#clearCanvas{
    font:25px impact;
}
#brushSize1{
    font:10px impact;
}
#brushSize2{
    font:20px impact;
}
#brushSize3{
    font:30px impact;
}
#brushSize4{
    font:40px impact;
}
#fillCanvas{
    font:25px impact;
}
#buttBrush,#squareBrush,#roundBrush{
    font:18px existence;
}

#otherTools #openFile{
    font:25px existence;
}

#file{
    visibility: hidden;
    width: 0px;
}

.button {
  font: bold 20px Arial;

  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

}

a {
    display: block;
    height: 30px;
    width: 60px;
    border: 1px solid #000;
}

#save {
    float: right;
    height: 30px;
    padding: 8px;
    background-color: darkgray;
}

#save:hover {
    background-color:beige;
}

#container {

	background-color: #F8F8FF;
	width: 75%;
	float:right;



}

#zweite_spalte {
	background-color: #F8F8FF;

	width: 25%;
}

#zweite_spalte_button {
   position: absolute;
    margin-bottom: 500px;
    margin-left: 250px;


}

#maedchen{

    margin-right: 5px;
    width: 60px;
    height: 60px;
}
#junge{

    margin-right: 5px;

    width: 60px;
    height: 60px;
}
#design{
   margin: 5px;
    margin-right: 5px;

    margin-left: 10px;
}


#landschaft,#weather,#buildings,#myGallery{
   width:18.75%;
    height: 50px;
    background: #303030;
    color: white;
    cursor:pointer;
    float:left;
    visibility: hidden;
}

#landschaft:hover{
    opacity: 0.5;
}
#weather:hover{
    opacity: 0.5;
}
#buildings:hover{
    opacity: 0.5;
}
#myGallery:hover{
    opacity: 0.5;
}