@font-face {
  font-family: 'Sigmar One';
  src: url('../font/SigmarOne-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: #ffd54f;
  font-family: 'Sigmar One', cursive;
}

section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  box-sizing: border-box;
}

canvas {
  display: block;
  /* border: 1px solid black; */
  width: calc(100vw - 20px);
  height: calc(100vh - 80px);
}

button {
  outline: 0;
  border: 0;
}

/* ========= banner ========= */

#banner {
  width: 100%;
  height: 110px;
  display: block;
  position: relative;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 2rem;
  font-family: 'Sigmar One', cursive;
  color: #b2dfdb;
  -webkit-text-stroke: 2px #3e2723;
}

#logoLink {
  display: inline-block;
  width: 80px;
  height: 100px;
  background: url('../images/palette.png') no-repeat center center;
  background-size: cover;
  transition: all ease 0.3s;
  cursor: pointer;
}

#logoLink:hover {
  background: url('../images/homeIcon.png') no-repeat bottom center;
}


#banner h1 {
  display: inline-block;
  position: absolute;
  top: 30px;
  padding: 0 20px;
}

#design {
  position: absolute;
  display: inline-block;
  height: 100%;
  right: 20px;
  vertical-align: baseline;
}

#design button {
  margin-top: 10px;
  height: 70px;
  width: 70px;
  background: none;
  cursor: pointer;
}

#design button img {
  width: 55px;
  height: auto;
}

/* ========= content container ========= */

#contentContainer {
  display: flex;
  position: relative;
}

#gallery {
  display: inline-block;
  width: 35rem;
  height: calc(100vh - 115px);
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  /* ширина нашего блока */
  background: #ffecb3;
  /* цвет фона, белый */
  border: 3px solid #3e2723;
  border-radius: 8px;
  /* размер и цвет границы блока */
  /* overflow-x: scroll; */
  /* прокрутка по горизонтали */
  overflow-y: scroll;
  /* прокрутка по вертикали */

  scrollbar-base-color: yellow;
  /*(Basisfarbe der Scroll-Leiste)*/
  scrollbar-arrow-color: #3e2723;
  /*(Farbe für Verschiebepfeile)*/
  scrollbar-face-color: #ffd54f;
  /*(Farbe für Oberfläche)*/
  scrollbar-highlight-color: #FFCC33;
  /*(Farbe für oberen und linken Rand)*/
  scrollbar-shadow-color: #FFCC33;
  /*(Farbe für unteren und rechten Rand)*/
  scrollbar-track-color: #ffecb3;
  /*(Farbe für freibleibenden Verschiebeweg)*/

}

#albummenubox h3 {
  margin: 5px auto 15px;
  font-size: 2rem;
  line-height: 2rem;
  color: #3e2723;
}

#albummenubox a {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  display: block;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  color: #BD3E31;
  text-shadow: 2px -5px #ffcc80;
  transition: all 0.2s;
}

#albummenubox a:hover {
  color: #E74C3C;
  font-size: 1.6rem;
}


/* ===== paiting container ==== */

#paintingContainer {
  flex-grow: 3;
  width: auto;
  height: calc(100vh - 115px);
  margin-right: 10px;
}

#drawingTools {
  margin-bottom: 5px;
}

/* == otherTools == */

#otherTools {
  width: 30%;
  height: 95px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
}

#otherTools button {
  flex-grow: 1;
  margin-right: 3px;
  height: 45px;
  display: flex;
  justify-content: center;
  border: 3px solid #3e2723;
  border-radius: 5px;
  color: #BD3E31;
  background-color: #ffecb3;
  font-family: 'Sigmar One', cursive;
  font-size: 1rem;
  cursor: pointer;
}

#upperTools,
#lowerTools {
  display: flex;
  justify-content: space-between;
}

#otherTools button:hover {
  opacity: 0.5;
}

#otherTools button div {
  background: #BD3E31;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#otherTools input {
  margin-right: 3px;
  width: 70px;
  height: 45px;
  border: 3px solid #3e2723;
  border-radius: 5px;
  background-color: #ffecb3;
  cursor: pointer;
}

#otherTools button i {
  font-size: 1.5rem;
}

#brushSize1 div {
  width: 8px;
  height: 8px;
}

#brushSize2 div {
  width: 15px;
  height: 15px;
}

#brushSize3 div {
  width: 23px;
  height: 23px;
}

#brushSize4 div {
  width: 30px;
  height: 30px;
}


/* == otherTools1 == */

#otherTools1 {
  width: 70%;
  float: right;
  display: flex;
  justify-content: space-between;
}

#otherTools1 button {
  width: auto;
  height: 45px;
  flex-grow: 1;
  border: 3px solid #3e2723;
  border-radius: 5px;
  color: #BD3E31;
  background-color: #ffecb3;
  font-family: 'Sigmar One', cursive;
  font-size: 1.5rem;
  cursor: pointer;
}

#otherTools1 button:hover {
  opacity: 0.5;
}

.downloadSetting {
  margin-top: 5px;
  width: 17.5%;
  height: 45px;
  border: 3px solid #3e2723;
  border-radius: 5px;
  color: #BD3E31;
  background-color: #ffecb3;
  font-family: 'Sigmar One', cursive;
  font-size: 1.3rem;
  cursor: pointer;
  float: left;
  visibility: hidden;
}

.downloadSetting:hover {
  opacity: 0.5;
}



div#thumbnailbox {
  float: left;
  color: #3e2723;
  background: #ffecb3;
}

div#thumbnailbox>div {
  width: 150px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}

div#thumbnailbox>div>img {
  width: 100px;
}


#clearCanvas {
  font: 25px impact;
}

#fillCanvas {
  font: 25px impact;
}

#buttBrush,
#squareBrush,
#roundBrush {
  font: 18px existence;
}

#otherTools #openFile {
  font: 25px existence;
}

#file {
  visibility: hidden;
  width: 0px;
}

/* .button {
  font: bold 20px Arial;

  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

}

a {
    display: block;
    height: 30px;
    width: 60px;
    border: 1px solid #000;
}

#save {
  float: right;
  height: 30px;
  padding: 8px;
  background-color: darkgray;
}

#save:hover {
    background-color:beige;
} */

#wrapper {
  height: calc(100% - 110px);
  box-sizing: border-box;
}

#container {
  height: 100%;
  margin-right: -5px;
  width: 70%;
  float: right;
  background-color: #F8F8FF;
  border: none;
}

#zweite_spalte {
  margin-right: 3px;
  height: 100%;
  background-color: #F8F8FF;
  width: 30%;
  border: none;
}

#zweite_spalte_button {
  position: absolute;
  margin-bottom: 500px;
  margin-left: 250px;
}