*{
  margin:0;
  padding:0;
  overflow: hidden;
  box-sizing: border-box;
}

body,html {
  width:  100vw;
  height: 100vh;
  overflow-y:hidden;
  box-sizing: border-box;
  background-color: #ffd54f;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 5rem;
}


#greeting {
  width: 80%;
  margin: 0 auto 3rem;
  text-align: center;
  font-size: 5rem;
  font-family: 'Sigmar One', cursive;
  color: #b2dfdb;
  -webkit-text-stroke: 5px #3e2723;
}

#sub_container {
  margin: 0 auto;
  width: 800px;
  position: relative;
}

img {
  display: inline-block;
  width: auto;
  height: 30rem;
}

#btn_container {
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

button {
  position: relative;
  margin: 4rem;
  padding: 1rem;
  display: block;
  width: 22rem;
  height: 6rem;
  font-size: 2rem;
  font-family: 'Sigmar One', cursive;
  color: white;
  outline: none;
  text-decoration: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}


.btn_start {
	background-color: #3498DB;
  border-bottom: 8px solid #2980B9;
  text-shadow: 0px -5px #2980B9;
}


.btn_start:hover {
  background-color: #4fc3f7;

}

.btn_tutorial {
	background-color: #E74C3C;
  border-bottom: 8px solid #BD3E31;
  text-shadow: 0px -5px #BD3E31;
}

.btn_tutorial:hover {
  background-color: #ef5350;
}

button:active {
	transform: translate(0px,8px);
  -webkit-transform: translate(0px,8px);
	border-bottom: 3px;
}


