*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family:sans-serif;
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
     
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}



#mehrspaltig { 
    flex: 1; 
    display: flex; 
    flex-direction: row; 
	background-color: silver; 
}
	


canvas { 
    flex: 5; 
    background-color: orange; 
    border: 2px dotted #CCCCCC;
    border-radius: 5px;
    cursor: crosshair;
    display: inline;
   
}


footer { 
	background-color: limegreen; 
}

#toolbar{
    width: 100%;
    height: 50px;
    padding:10px;
    position: fixed;
    top: 0;
    background-color: #2f2f2f;
    color:white;
    
}
.radcontrol{
    width:30px;
    height:30px;
    background-color: #4f4f4f;
    display:inline-block;
    text-align:center ;
    padding:5px;
}

#rad{
    float: left;
}
#colors{
    float: right;
}

.swatch{
    width:30px;
    height:30px;
    border-radius:15px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5),0px 2px 2px rgba(0,0,0,0.5);
    display: inline-block;
    margin-left:10px;
    background-color: cyan;
}
.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
}


a.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
    float:right;
    margin-right: 20px;
    height:30px;
    padding:8px;
    background-color: #434343;
    color: white;
}
a.btn:hover{
    background-color: #818181;
}